<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-marque [marque]="updatedMarque" (marqueUpdated)="marqueUpdated($event)"
            [ajout]="ajout"></app-update-marque>
    </div>
    <div class="card shadow mb-4">

        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Marque</th>
                        <th>Pays Origine</th>
                        <th>Année Creation</th>
                    </tr>
                </thead>
                @for(marq of marques; track marq.idMarque)
                {
                <tbody>
                    <tr>
                        <td>{{marq.idMarque}}</td>
                        <td>{{marq.nomMarque}}</td>
                        <td>{{marq.paysOrigine}}</td>
                        <td>{{marq.anneeCreation}}</td>
                        <td><a class="btn btn-success" (click)="updateMarque(marq)">Editer</a></td>
                    </tr>

                </tbody>
                }
            </table>
        </div>
    </div>
</div>